@import "tailwindcss";
@plugin "daisyui";
@import 'swiper/css';
@import 'swiper/css/navigation';
@import 'swiper/css/pagination';


:root {
  --background: #ffffff;
  --foreground: #171717;
  --secondary: #F0F7F7;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: #7ab2b2;
  --font-hind: var(--font-hind);
  --font-montserrat: var(--font-montserrat);
  --color-secondary: var(--secondary);
  --color-contact-icon: #E68387;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
[id] {
  scroll-margin-top: 25vh;
}

body {
  background-image: url("/images/lines-background.svg");
  background-repeat: repeat;
  background-attachment: scroll;
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-hind), "Hind", sans-serif;
  font-size: 14px;
  font-weight: normal;
}

@media screen and (max-width: 768px){
  body{
    background-image: url("/images/lines-background--mobile.svg");
  }
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-montserrat), "Montserrat", sans-serif;
  font-weight: bold;
}

h1 {
  font-size: 28px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 16px;
}
h4 {
  font-size: 16px;
  font-weight: 500;
}

.button-text {
  font-weight: 500;
}

@media screen and (min-width: 640px) {
  h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 28px;
  }

  h3 {
    font-size: 20px;
  }
  body {
    font-size: 16px;
  }
}

.swiper .swiper-button-next,
.swiper .swiper-button-prev {
  color: #7ab2b2;
}

.swiper .swiper-button-next:hover,
.swiper .swiper-button-prev:hover {
  color: #7ab2b2;
}

.swiper .swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
}

.swiper .swiper-pagination-bullet-active {
  background: #7ab2b2;
  opacity: 1;
}
